{{>head}}
{{!-- {{>navbar}} --}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

<div class="container text-center my-5 d-flex justify-content-center">

  <div class="card shadow text-dark bg-light mb-3" style="width: 20rem;">
    <div class="card-header">Form Login</div>
    <div class="card-body">
      
      <form action="" method="post">
    
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="e.g. name@example.com">
          <label for="email">Email</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>

        <button type="submit" class="mt-2 mb-3 btn btn-dark">Login</button>

        <div style="font-size: 0.875rem;">
          Create an account?
          <span>
            <a href="/register">Click here</a>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>

{{>footer}}